<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrroboto.notimed">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_notimed_dark"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_notimed_dark"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notimed"
        android:name=".NotiMedApplication">
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>