@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fefbff;
}


  .subhead1 {
    @apply text-subhead1 font-medium
  }

  .subhead2 {
    @apply text-subhead2 font-medium
  }

  .labelSmall {
    @apply text-labelSmall font-medium
  }

  .overlinetext {
    @apply text-overline font-medium
  }

  .titleMedium {
    @apply text-titleMedium font-medium
  }

  .titleSmall {
    @apply text-titleSmall font-medium
  }

  .labelLarge {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .labelMedium {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  .labelSmall {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  .surface1 {
    background: linear-gradient(0deg, rgba(42, 86, 200, 0.05), rgba(42, 86, 200, 0.05)), #FEFBFF;
    border-radius: 0px 0px 0px 0px;
  }


